h2 {
	color: #f50000;
	font-family: shanghai;
	letter-spacing: 2px;
	text-align: center;
}

p{
	color:red;
	text-align:center;
}
.buttonHolder{
	text-align:center;
}

label {
	display: inline-block;
	float: left;
	clear: left;
	width: 40%;/*Move the labels left be decreasing the value or right by increasing the value*/
	text-align: right;
	padding-right: 2%;/*Put spaces between the label and the input box*/
	color: #FFFFFF;/*Font color for the label*/
	font-family: Arial;
}
input {
	display: inline-block;
	margin-bottom: 1%;/*Put spaces between the input boxes*/
}/*the code abve that isn't commented is used to align the labels and textboxes*/

form {
	margin-top: 4%;
}/*move the form lower*/

#username, #password {
	width: 20%;
}/*Set the width and height of the input boxes*/

.btn-danger {
	background-color: #b91327;
	margin-top:10px;
}/*background color of the submit button and alignment of the button*/

.btn-danger:hover {
	background-color: #a31123
}/*background color of the submit button when hovered over*/


/*=================*/
/*||-Laptop Size-||*/
/*=================*/
@media screen and (min-width: 800px) and (max-width: 1024px) {

}


/*=================*/
/*||-Tablet Size-||*/
/*=================*/
@media screen and (min-width: 586px) and (max-width: 799px) {
	#username, #password{
		width: 30%;
	}
}

/*================*/
/*||-Phone Size-||*/
/*================*/
@media screen and (max-width: 585px) {
	#username, #password{
		width: 45%;
	}
}