h2 {
	color: #f50000;
	font-family: shanghai;
	letter-spacing: 2px;
	text-align: center;
}
label {
	display: inline-block;
	float: left;
	clear: left;
	width: 40%;
	/*Move the labels left be decreasing the value or right by increasing the value*/
	text-align: right;
	padding-right: 2%;
	/*Put spaces between the label and the input box*/
	color: #FFFFFF;
	/*Font color for the label*/
	font-family: Arial;
}
input {
	display: inline-block;
	float: left;
	/*Put spaces between the input boxes*/
}

/*the code abve that isn't commented is used to align the labels and textboxes*/

form {
	margin-top: 4%;
}

/*move the form lower*/

#username, #password, #rpassword, #fname, #lname {
	width: 20%;
}

/*Set the width and height of the input boxes*/

.btn-danger {
	background-color: #b91327;
	margin-left: 45%;
}

/*background color of the submit button and alignment of the button*/

.btn-danger:hover {
	background-color: #a31123;
}

/*background color of the submit button when hovered over*/

#usernameTip {
	margin-left: 10px;
	width: 12px;
	height: 12px;
}/*the tooltip for the username*/

#passwordTip {
	margin-left: 10px;
	width: 12px;
	height: 12px;
}/*the tooltip for the password*/

#nameTip {
	margin-left: 10px;
	width: 12px;
	height: 12px;
}/*the tooltip for the name*/

span {
	color: #e7d732;
	margin-top:10px;
}

p{
	text-align:center;
	margin-top:1%;
	color:red;
}

#div_RPassword{
	margin-bottom:10px;
}
/*=================*/
/*||-Tablet Size-||*/
/*=================*/
@media screen and (min-width: 586px) and (max-width: 799px) {
	#username, #password, #rpassword, #fname, #lname {
		width: 30%;
	}
}

/*================*/
/*||-Phone Size-||*/
/*================*/
@media screen and (max-width: 585px) {
	#username, #password, #rpassword, #fname, #lname {
		width: 45%;
	}
	.btn-danger {
		margin-left: 40%;
	}
}