body{
	background-image: url("/CentreDEnergie/Content/website_back.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-color:black;
}
/*#main{
	background-image: url("/CentreDEnergie/Content/WebsiteWall.png");
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
body{background-color:black;}*/
hr{
	border:solid 1px;/* Make hr bolder */
}
#banner{/*banner image on top of the page */
	background-image:url("/CentreDEnergie/Content/logo.png");
	float:left;
	background-size:85% 100%;
	background-repeat:no-repeat
	;height:200px;
	}

nav {
	text-align:center;
}

#login-links a{
	text-decoration:none;
	color:#c1b42e;
}
#login-links a:hover{
	color:#a31123
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #a31123; /*sets the font color to white and the background color to red when the page is on that link */
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #c1b42e; 
  color:black; /* sets the font color to black and the background color to dark yellow when the link is hovered over */
}

@font-face{
	font-family:shanghai;
	src:url('/CentreDEnergie/Content/shanghai.ttf')
}

li a{
	background-color:#e7d732;
	color:black;
	border-left:1px solid black;0
	border-right:1px solid black;
	font-family:shanghai;
	font-weight:bold;
	font-size:20px;
	border-top: 1px solid black; 
    border-bottom: 1px solid black;
	letter-spacing:1px;/* the default styles for the nav links */
}
/*footer{background-color:black;}*/
ul{
	list-style:none;
	display: inline-block;
}

#title{
	font-family:shanghai;
	color:#e7d732;
	letter-spacing:2px;
	display:none;
	text-align:center;
}/* the color and font family for the title under the logo */


#footer{
	text-align:center;/*center all the text at the bottom */
}

footer a{
	text-decoration:none;
	color:#c1b42e;
}
footer a:hover{
	color:#a31123;
}
#contact-bottom{
	color:#8c8c8c;/* the color of the basic contact info at the bottom */
}

#brbr{
	display:none;
}

/*--------*/
/*Dropdown*/
/*--------*/

/* Dropdown Button */
#header_dropbtn {
	font-family:shanghai;
	letter-spacing: 2px;
    background-color: rgba(123,3,123,0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
#header_dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#header_dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(105, 105, 105, 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
#header_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#header_dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
#header_dropdown:hover #header_dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#header_dropdown:hover #header_dropbtn {
    background-color: rgba(123,3,123,0);
}




/*=================*/
/*||-Laptop Size-||*/
/*=================*/
@media screen and (min-width: 800px) and (max-width: 1024px) {
	li a{
		font-size:14px;
	}
	
	#banner{
		margin-left:20%;
		width:60%;
		background-size:100% 100%;
	}/*banner image on top of the page */
	
	#login-links{
		float:left;
		font-size:12px;
	}
}

/*=================*/
/*||-Tablet Size-||*/
/*=================*/
@media screen and (min-width: 586px) and (max-width: 799px) {
	.nav li a {
		padding: 5px 5px; /* it makes the box around the links smaller*/
		font-size:12px;
	}
	
	#banner{
		margin-left:20%;
		width:60%;
		background-size:100% 100%;
	}/*banner image on top of the page */
	
	#login-links{
		float:left;
		font-size:12px;
		margin-left:-6%;
	}
	#brbr{
		display:inline;
	}
}
/*================*/
/*||-Phone Size-||*/
/*================*/
@media screen and (max-width: 585px) {
	.nav-pills li {
	  float: none; /*it makes the links one under the others*/
	}
	#title{
		display:inline;
	} /* it makes the #title appear*/
	
	#banner{
		display:none;
	}/*it removes the banner*/
	
	#login-links{
		text-align:center;
	}
	body{
		background-image:none;
	}
	
}



/*Mini-Tablet Size*/
/*@media screen and (min-width: 500px) and (max-width: 566px) {
	nav{
		margin-left:20%;
		margin-right:5%;
	}
	.nav li a {
		padding: 5px 5px;
		font-size:12px;
	}
}*/