
p{font-size:18px;color:rgb(220,220,220);font-family:Arial}

h2{
	font-family:shanghai;
	letter-spacing: 1px;
	color: #e7d732;
}
#tiger_img{	/*Controls for The tiger image*/
	float:left;
	margin-right: 2%;
    width: 50%; /*Width and height with 50% make the img smaller*/
	height: 50%;
}

#tiger{	/*Controls for The tiger text*/
	word-wrap:break-word;
	text-align:justify;
	margin-left: 25%;
	margin-right: 25%;
	clear:both;
}

#monkey_img{
	float:right;
	padding-top:2%;
	margin-left: 2%;
    width: 50%;
	height: 50%;
}

#monkey{
	word-wrap:break-word;
	text-align:justify;
	padding-top:2%;
	margin-left: 25%;
	margin-right: 25%;
	clear:both;
}

#snake_img{
	float:left;
	padding-top:2%;
	margin-right: 2%;
    width: 50%;
	height: 50%;
}

#snake{
	word-wrap:break-word;
	text-align:justify;
	padding-top:2%;
	margin-left: 25%;
	margin-right: 25%;
	clear:both;
}

#crane_img{
	float:right;
	padding-top:2%;
	margin-left: 2%;
    width: 50%;
	height: 50%;
}

#crane{
	word-wrap:break-word;
	text-align:justify;
	padding-top:2%;
	margin-left: 25%;
	margin-right: 25%;
	clear:both;
}

#leopard_img{
	float:left;
	padding-top:2%;
	margin-right: 2%;
    width: 50%;
	height: 50%;
}

#leopard{
	word-wrap:break-word;
	text-align:justify;
	padding-top:2%;
	margin-left: 25%;
	margin-right: 25%;
	clear:both;
}

/*=================*/
/*||-Laptop Size-||*/
/*=================*/
@media screen and (min-width: 800px) and (max-width: 1024px){
	p{
		clear:both;
	}
	#tiger_img{	/*Controls for The tiger image*/
		width: 100%; 
	}
	#monkey_img{
		width: 100%; 
	}

	#snake_img{
		width: 100%; 
	}

	#crane_img{
		width: 100%; 
	}
	
	#leopard_img{
		width: 100%;
	}
	
	h2{
		clear:both;
		text-align:center;
	}
}

/*=================*/
/*||-Tablet Size-||*/
/*=================*/
@media screen and (min-width: 586px) and (max-width: 799px){
	p{
		clear:both;
	}
	#tiger_img{	/*Controls for The tiger image*/
		width: 100%; 
	}
	#monkey_img{
		width: 100%; 
	}

	#snake_img{
		width: 100%; 
	}

	#crane_img{
		width: 100%; 
	}
	
	#leopard_img{
		width: 100%;
	}
	
	h2{
		clear:both;
		text-align:center;
	}
}

/*================*/
/*||-Phone Size-||*/
/*================*/
@media screen and (max-width: 585px){
	#tiger{
		margin-left:1px;
		margin-right:1px;
	}
	#tiger_img{	/*Controls for The tiger image*/
		width: 100%; /*Width and height with 50% make the img smaller*/
		height: 100%;
	}
	#monkey_img{
		width: 100%; /*Width and height with 50% make the img smaller*/
		height: 100%;
	}

	#monkey{
		margin-left:1px;
		margin-right:1px;
	}

	#snake_img{
		width: 100%; /*Width and height with 50% make the img smaller*/
		height: 100%;
	}

	#snake{
		margin-left:1px;
		margin-right:1px;
	}

	#crane_img{
		width: 100%; /*Width and height with 50% make the img smaller*/
		height: 100%;
	}

	#crane{
		margin-left:1px;
		margin-right:1px;
	}

	#leopard_img{
		width: 100%; /*Width and height with 50% make the img smaller*/
		height: 100%;
	}

	#leopard{
		margin-left:1px;
		margin-right:1px;
	}
	
	h2{
		text-align:center;
	}
}