h2 {
	color: #c1b42e;
	font-family: shanghai;
	letter-spacing: 2px;
	text-align: center;
}
.tg {
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 25px;
	width: 90%;
	margin: 0px auto;
	color: black;
	background-color: rgb(105, 105, 105);
}/*the table itself */

.tg td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	word-wrap: normal;
	overflow: hidden
}/*table data*/

.tg th {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
}/*belt color name*/

.tg .tg-baqh {
	text-align: center;
	vertical-align: top
}/*the technique values*/

.tg .tg-amwm {
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	width:10%;
}/*the first row and the first column*/
