.slideshow-images {
	width: 25%;
	margin: 0 auto;
}/* control the size of the images in the slideshow */

.carousel-control.left {
	width: 10%;
	margin-left: 27%;
}/* reduce the size of the left arrow and bring it closer to the image */

.carousel-control.right {
	width: 10%;
	margin-right: 27%;
}/* reduce the size of the right arrow and bring it closer to the image */

.carousel-indicators {
	bottom: -12%;
}/* move the indicators lower */

.carousel-inner {
	margin-top: 10px;
	margin-bottom: 50px;
}/* something that im supposed to add */

.carousel-inner>.item>img {
	width: 400px;
	height: 340px;
}

.post h2 {
	color: white;
	text-align: center;
	font-family: shanghai;
	letter-spacing: 2px
}/*modify the title of each post */

.post img {
	text-align: center;
	margin: 0 auto;
	width: 25%;
	display: block;
}/*modify the image of each post */

.postContent {
	margin-left: 1%;
	margin-right: 1%;
	color: black;
	line-height: 25px;
	text-align: justify;
	font-size: 17px;
	font-family: Comic Sans MS;
}/*modify the text of each post */

.post {
	border: 1px solid white;
	border-radius: 25px;
	margin-left: 24%;
	margin-right: 24%;
	word-wrap: break-word;
	background-color: rgba(105, 105, 105, .5);
}/*modify the whole post */


/*=================*/
/*||-Laptop Size-||*/
/*=================*/
@media screen and (min-width: 800px) and (max-width: 1024px) {
	.carousel-control.left {
		margin-left: 22%;
	}/* reduce the size of the left arrow and bring it closer to the image */

	.carousel-control.right {
		margin-right: 22%;
	}/* reduce the size of the right arrow and bring it closer to the image */
	
	.carousel-inner>.item>img {
		width: 300px;
		height: 255px;
	}
	.carousel-indicators {
		bottom: -16%;
	}/* move the indicators lower */

}

/*=================*/
/*||-Tablet Size-||*/
/*=================*/
@media screen and (min-width: 586px) and (max-width: 799px) {
	.carousel-control.left {
		margin-left: 17%;
	}/* reduce the size of the left arrow and bring it closer to the image */

	.carousel-control.right {
		margin-right: 17%;
	}/* reduce the size of the right arrow and bring it closer to the image */
	
	.carousel-inner>.item>img {
		width: 270px;
		height: 230px;
	}
	.carousel-indicators {
		bottom: -17%;
	}/* move the indicators lower */
	
	.post {
		margin-left: 20%;
		margin-right: 20%;
		background-color: rgba(105, 105, 105, .7);
	}/*modify the whole post */

}

/*================*/
/*||-Phone Size-||*/
/*================*/
@media screen and (max-width: 585px) {
	#myCarousel{
		display:none;
	}
	.post{
		margin-top:10px;
		margin-left: 0px;
		margin-right: 0px;
	}
	h2{
		font-size:22px;
	}
}