hr{border:solid 1px;}
nav {
	text-align:center;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #a31123;

}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #c1b42e;
  color:black;
}

@font-face{font-family:shanghai;src:url('/CentreDEnergie/Content/shanghai.ttf')}
li a{
	background-color:#e7d732;
	color:black;
	border-left:1px solid black;
	border-right:1px solid black;
	font-family:shanghai;
	font-weight:bold;
	font-size:20px;
	border-top: 1px solid black; 
    border-bottom: 1px solid black;
}

ul{
	list-style:none;
	display: inline-block;
}

