
h2{color:#c1b42e;font-family:shanghai;letter-spacing:2px;text-align:center;}

h3{color:#f50000;font-family:shanghai;letter-spacing:2px;}

#usernameHeader{margin-left:4%;color:#e7d732}/*align the header for the username form*/
#passwordHeader{text-align:right;margin-right:4%;color:#e7d732}/*align the header for the password form*/
#rankHeader{text-align:center;color:#e7d732}


label{
    display: inline-block;
    float: left;
    clear: left;
    width: 44%;/*Move the labels left be decreasing the value or right by increasing the value*/
    text-align: right;
	padding-right:2%;/*Put spaces between the label and the input box*/
	color:#FFFFFF;/*Font color for the label*/
	font-family:Arial;
}
/*the code abve that isn't commented is used to align the labels and textboxes*/

form{margin-top:0%;}/*move the form lower*/

#username, #newusername, #password, #newPassword, #rnewPassword{width:50%;display:inline-block;float:left;margin-bottom:5%}/*Set the width and height of the input boxes*/
#curBelt,#code{width:15%}

#changeUsername{float:left;margin-left:23%;width:20%}/*set width and position of the top forms*/
#changePassword{float:right;margin-right:23%;width:20%}
#changeRank{text-align:center}/*set width and position of the rank form*/

#usernameSubmit,#passwordSubmit{background-color:#b91327;margin-left:44%;width:50%}/*background color of the submit button and alignment of the button*/
#passwordSubmit:hover{background-color:#a31123}/*background color of the submit button when hovered over*/
#usernameSubmit:hover{background-color:#a31123}

#rankSubmit{background-color:#b91327;}
#rankSubmit:hover{background-color:#a31123}