.post h2{color:e7d732;text-align:center;font-family:shanghai;letter-spacing:2px}/*title*/
.postContent{margin-right:1%;color:black;line-height:25px;text-align:justify;font-size:17px;font-family:Comic Sans MS}/*text inside the box*/
.post{border:1px solid white;border-radius:25px;margin-left:24%;margin-right:24%;word-wrap:break-word;background-color: rgba(105,105,105,.5);}/*the box itself*/


#tareaBorder{color:black;}

textarea{width:80%;margin-top:-20px;margin-bottom:-0.306%;background:transparent;color:white;font-size:20px;font-family:Arial;border:none;padding-left:4px;padding-right:4px;padding-top:0px;padding-bottom:2%;resize:none;
    border-right:solid black;}

#button{float:right;width:20%;height:90%;/*margin-top:-2.5%;*/margin-right:-1px;padding-top:2%;font-family:shanghai;color:#e7d732;letter-spacing:2px;background:transparent;font-size:23px;border-style:none;}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    textarea{margin-bottom:-0.5%;padding-bottom:5%;}
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
} /* this removes the blue border when the textarea or the button are clicked on */